{% extends 'base.html.twig' %}

{% block body %}
    
    <header>
        <hgroup>
            <h1><a href="{{ url('registration') }}">Registration Page</a></h1>
            <p>Template <code>{{ _self }}</code></p>
        </hgroup>
    </header>

    <main>
        {{ form_start(form) }}
        
            {{ form_row(form.username) }}
    
             <twig:LocationSearch>
                <twig:block name="block_header">
                    {% if form is defined %}
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                    {% endif %}
                </twig:block>
                 <twig:block name="block_footer">
                     {% if form is defined %}
                        {{ form is defined ? form_errors(form.location) }}
                     {% endif %}
                </twig:block>
            </twig:LocationSearch>
            
        <button type="submit">SEND FORM</button>
        
        {{ form_end(form) }}
    </main>
    
{% endblock %}
